@import "tailwindcss";

body{
    background-color: #17162b;
}
.navbar{
    background-color: #17162b;
}
.header{
    background-color: #17162b;
}
.btn{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 13px;
}
.btn:hover{
    color: black;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}
.btn2{
    border-radius: 10px;
    padding: 15px 10px;
    cursor: pointer;
}
.main{
    line-height: 58px;
    margin-bottom: 30px;
}
.headings{
    color: white;
}
.background{
    background-color: #17162b;
    border: none;
    cursor: pointer;
}
.header{
    margin-bottom: -100px;
}
.track{
    font-size: 30px;
}
.contact{
    background-color: #17162b;
}
.btn3{
    border-radius: 10px;
    cursor: pointer;
}